<div class="myaat">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>MyAAT</h1>

            </div>
        </div>


    </div>

    <div class="myaat-page">

        <div class="myaat-page__wrapper">

            <div class="sidebar">
                <ul class="sidebar__menu">
                    <li class="first"><a href="/myaat/about" title="">What is MyAAT?</a></li>
                    <li class=""><a href="http://www.aat.org.uk/get-myaat/options" title="">Register for your MyAAT account</a></li>
                    <li class=""><a href="/myaat/privacy" title="">AAT privacy policy</a></li>
                    <li class=""><a href="/myaat/cookies" title="">AAT use of cookies</a></li>
                    <li class="last"><a href="/myaat/help" title="">Help logging in to MyAAT</a></li>
                </ul>
            </div>

            <div class="page-content">

                <div class="slideshow">
                    <div class="slideshow__slide">
                        <div class="slideshow__slide--image">
                            <img typeof="foaf:Image" src="http://aatsa-web.s3-eu-west-1.amazonaws.com/sa-prod/s3fs-public/hero/edith_bayoli_3.jpg" alt="" />
                        </div>
                        <div class="slideshow__slide--content">
                            <div class="slideshow__slide--text">
                                <p>Assessment results, revision guides, career help, exclusive discounts, and more.</p>
                            </div>
                            <div class="slideshow__slide--button"><a href="http://www.aat.org.uk/myaat">Log in to MyAAT</a></div>
                        </div>
                    </div>
                    <div class="slideshow__slide">
                        <div class="slideshow__slide--image"><img typeof="foaf:Image" src="http://aatsa-web.s3-eu-west-1.amazonaws.com/sa-prod/s3fs-public/hero/sebathu_bengani_2.jpg" alt=""></div>
                        <div class="slideshow__slide--content">
                            <div class="slideshow__slide--text">
                                <p>Study support and e-learning content, marketing support, administration services, and
                                    more.</p>
                            </div>
                            <div class="slideshow__slide--button"><a class="btn btn-primary" href="http://www.aat.org.uk/myaat">Log in to MyAAT</a></div>
                        </div>
                    </div>
                </div>


                <div class="spotlight-grid">

                    <div class="spotlight-item">
                        <div class="spotlight-item--inner">
                            <div class="spotlight-item__header">
                                <h3>What is MyAAT?</h3>
                            </div>
                            <div class="spotlight-item__body">
                                <div class="spotlight-item__body--text">
                                    <p>Tailored to you, MyAAT provides interactive services and resources designed to help you get the most out of AAT.</p>
                                </div>
                                <div class="spotlight-item__body--image">
                                    <a href="/myaat/about" title="What is MyAAT?">
                                        <img src="/img/myaat/tapiwa_obert_2.jpg" alt="What is MyAAT?">
                                    </a>
                                </div>
                            </div>
                            <div class="spotlight-item__footer">
                                <a href="http://sa.aws.aat.org.uk/myaat/about">
                                    Find out more about MyAAT
                                </a>
                            </div>
                        </div>
                    </div><!-- end spotlight-item -->

                    <div class="spotlight-item">
                        <div class="spotlight-item--inner">
                            <div class="spotlight-item__header">
                                <h3>Register for your MyAAT account</h3>
                            </div>
                            <div class="spotlight-item__body">
                                <div class="spotlight-item__body--text">
                                    <p>Registration is simple - you just need your email address and AAT membership number.</p>
                                </div>
                                <div class="spotlight-item__body--image">
                                    <a href="/myaat/about" title="What is MyAAT?">
                                        <img src="/img/myaat/sylvia_segone_3.jpg" alt="Register for your MyAAT account">
                                    </a>
                                </div>
                            </div>
                            <div class="spotlight-item__footer">
                                <a href="http://sa.aws.aat.org.uk/myaat/about">
                                    Find out more about MyAAT
                                </a>
                            </div>
                        </div>
                    </div><!-- end spotlight-item -->
                    <div class="spotlight-item">
                        <div class="spotlight-item--inner">
                            <div class="spotlight-item__header">
                                <h3>Login in to MyAAT</h3>
                            </div>
                            <div class="spotlight-item__body">
                                <div class="spotlight-item__body--text">
                                    <p>Log in to MyAAT to access your exclusive member benefits and services.</p>
                                </div>
                                <div class="spotlight-item__body--image">
                                    <a href="/myaat/about" title="What is MyAAT?">
                                        <img src="/img/myaat/jessie_bosco_2.jpg" alt="What is MyAAT?">
                                    </a>
                                </div>
                            </div>
                            <div class="spotlight-item__footer">
                                <a href="http://sa.aws.aat.org.uk/myaat/about">
                                    Find out more about MyAAT
                                </a>
                            </div>
                        </div>
                    </div><!-- end spotlight-item -->
                    <div class="spotlight-item">
                        <div class="spotlight-item--inner">
                            <div class="spotlight-item__header">
                                <h3>Login in help for MyAAT</h3>
                            </div>
                            <div class="spotlight-item__body">
                                <div class="spotlight-item__body--text">
                                    <p>Having problems logging in to MyAAT? Get help here.</p>
                                </div>
                                <div class="spotlight-item__body--image">
                                    <a href="/myaat/about" title="What is MyAAT?">
                                        <img src="/img/myaat/lawrence_mtolo.jpg" alt="What is MyAAT?">
                                    </a>
                                </div>
                            </div>
                            <div class="spotlight-item__footer">
                                <a href="http://sa.aws.aat.org.uk/myaat/about">
                                    Find out more about MyAAT
                                </a>
                            </div>
                        </div>
                    </div><!-- end spotlight-item -->

                </div><!-- end spotlight-grid -->


            </div><!-- end page-content -->

        </div><!-- end myaat__wrapper -->

    </div><!-- end myaat -->

</div>

