$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors
//
// Secondary colours - 2014 NEW
$aat-blue: #0097DE;
$aat-teal: #007C81;
$aat-turq: #00BB9D;
$aat-yellow: #FFC723;
$aat-mauve: #880060;

$aat-grey: #333;


//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:          lighten($aat-grey, 45%);


$brand-primary-color:   #00958f !default;
$brand-primary:         #00958f !default; // #00AB4E
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// Secondary colours - 2014 NEW
$aat-blue: #0097DE;
$aat-teal: #007C81;
$aat-turq: #00BB9D;
$aat-yellow: #FFC723;
$aat-mauve: #880060;

// Secondary colours -  PRINT OLD
$aat-duckegg: #82cec1;
$aat-aqua: #00b7de;
$aat-violet: #672f87;
$aat-mustard: #ffc222;
$aat-berry: #d15980;


$aat-cta:  #F28300; // Orange
$aat-cta-border:  #d07100; // Orange - border/box shadow
$aat-cta-hover:  #ff8c04; // Orange - hover/active

// Custom greys
$gray-xxlighter:           #f7f7f9;
$aat-grey-lh-nav:          #d3d3d3;
$aat-dark-grey-prim-nav:   #393939;
$aat-dark-grey-prim-nav-1: #2b2b2b;

//New frontpage custom colours
$aat-cta:  #F28300; // Orange
$aat-cta-border:  #d07100; // Orange - border/box shadow
$aat-cta-hover:  #ff8c04; // Orange - hover/active



$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;


//New page content colors
//Hero
$hero-background-color: #f6f6f6 !default;
$hero-text-color: $brand-primary !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

