//Spotlight
.spotlight-grid {
  @extend .row;

}

.spotlight-item {
  @extend .col-md-6;
  padding: 0px 15px 15px 0px;

  &--inner {
    padding: 10px 20px;
    border: 1px solid #E3E3E3;
  }
  &__header {
    @extend .row;
    h3 {
      @extend .col-md-12;
    }
  }

  &__body {
    @extend .row;
    &--text {
      @extend .col-md-7;
    }

    &--image {
      @extend .col-md-5;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__footer {
    @extend .row;
    a {
      @extend .col-md-12;
    }
  }
}