<div class="header">

    <nav class="header__navbar">

        <div class="header__navbar--logo">
            <a href="/">
                <svg width="50" height="40">
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/aat_logo.svg"
                           src="/img/logo.png" alt="AAT Home" width="50px" height="40px"></image>
                </svg>
            </a>
        </div>

            <ul class="header__navbar--navigation">
                <li>
                    <a href="/" ng-click="vm.closeMenu()">Home</a>
                </li>
                <li>
                    <a href="/myaat" ng-click="vm.closeMenu()">MyAAT</a>
                </li>
                <li>
                    <a href="/about" ng-click="vm.closeMenu()">About</a>
                </li>
                <li>
                    <a href="/qualifications" ng-click="vm.closeMenu()">Qualifications</a>
                </li>
                <li>
                    <a href="/employers" ng-click="vm.closeMenu()">Employers</a>
                </li>
                <li>
                    <a href="/deliver" ng-click="vm.closeMenu()">Deliver AAT(SA)</a>
                </li>
                <li>
                    <a href="/membership" ng-click="vm.closeMenu()">Membership/CPD</a>
                </li>
                <!--<li>-->
                <!--<a href="/news">News</a>-->
                <!--</li>-->
            </ul>

            <ul class="header__navbar--user-links">
                <li><a href=""><span class="mobile-menu__top-nav--text">Register</span> <i class="fa fa-cog"></i></a></li>
                <li><a href="" class="btn btn-default"><span class="mobile-menu__top-nav--text">Login</span> <i class="fa fa-user"></i></a></li>
            </ul>

    </nav>

    <mobile-menu></mobile-menu>

</div>