<div class="header">


    <nav class="navbar navbar-white navbar-fixed-top">

        <div class="logo-top-bar">
            <a href="/">
                <svg width="50" height="40">
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/aat_logo.svg"
                           src="/img/logo.png" alt="AAT Home" width="50px" height="40px"></image>
                </svg>
            </a>
        </div>


        <ul class="top-nav desktop-hide">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/my-aat">MyAAT</a>
            </li>
            <li>
                <a href="/about-us">AboutUs</a>
            </li>
            <li>
                <a href="">Qualifications</a>
            </li>
            <li>
                <a href="">Employers</a>
            </li>
            <li>
                <a href="">Deliver AAT(SA)</a>
            </li>
            <li>
                <a href="">Membership/CPD</a>
            </li>
            <li>
                <a href="">News</a>
            </li>
        </ul>


    </nav>

</div>