.header {

  &__navbar {


    &--logo {
      position: absolute;
      top: 5px;
      left: 15px;
    }

    &--navigation {
      display: none;
      position: absolute;
      top: 15px;
      left: 80px;

      li {
        display: inline-block;
        a {
          padding: 0 5px 0 5px;
        }
      }
    }
    &--user-links {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &:before {
      content: " ";
      display: table;
    }
  }

  @media (min-width: $breakpoint-desktop) {

    &__navbar {
      min-height: auto;


      &--navigation {
        display: inline-block;

        li {
          display: inline-block;
          a {

            padding: 0 5px 0 5px;
          }
          a:hover {
            text-decoration: underline;
          }

        }

      }

      &--user-links {
        position: absolute;
        top: 10px;
        right: 15px;

      }

      &--text {
        display: inline-block;
      }

    }
  }

}
