<div class="header" ng-controller="HeaderController as vm" ng-class="{'is-active': vm.isActive}">

    <nav class="navbar">

        <div class="navbar__logo">
            <a href="/">
                <svg width="50" height="40">
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/aat_logo.svg"
                           src="/img/logo.png" alt="AAT Home" width="50px" height="40px"></image>
                </svg>
            </a>
        </div>
        <button id="hamburger-button" class="hamburger hamburger--collapse hamburger--accessible js-hamburger" ng-class="{'is-active': vm.isActive}"  ng-click="vm.toggleMenu()" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
        </button>
        <div id="top-nav-bar" class="navbar__top-nav" ng-class="{'is-active': vm.isActive}">

            <ul class="">
                <li>
                    <a href="/" ng-click="vm.closeMenu()" >Home</a>
                </li>
                <li>
                    <a href="/myaat" ng-click="vm.closeMenu()" >MyAAT</a>
                </li>
                <li>
                    <a href="/about" ng-click="vm.closeMenu()" >About</a>
                </li>
                <li>
                    <a href="/qualifications" ng-click="vm.closeMenu()" >Qualifications</a>
                </li>
                <li>
                    <a href="/employers" ng-click="vm.closeMenu()" >Employers</a>
                </li>
                <li>
                    <a href="/deliver" ng-click="vm.closeMenu()" >Deliver AAT(SA)</a>
                </li>
                <li>
                    <a href="/membership" ng-click="vm.closeMenu()" >Membership/CPD</a>
                </li>
                <!--<li>-->
                    <!--<a href="/news">News</a>-->
                <!--</li>-->
            </ul>

        </div>
        <ul class="navbar__top-nav--user-links">
            <li><a href=""><span class="navbar__top-nav--text">Register</span> <i class="fa fa-cog"></i></a></li>
            <li><a href="" class="btn btn-default"><span class="navbar__top-nav--text">Login</span> <i class="fa fa-user"></i></a></li>
        </ul>
    </nav>

</div>