<div class="frontpage">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>Deliver AAT</h1>
            </div>
        </div>


    </div>

    <div class="promo">

        <div class="promo__cards">

            <div class="promo__card">
                <h2>
                    Welcome to AAT (SA)
                </h2>
                <p>Eliminate the “what if” factor with AAT(SA), the professional home for accounting technicians.
                    Find out more using the links below.</p>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Deliver AAT(SA) qualifications</a></li>
                    <li><a href="">AAT(SA) training for your business</a></li>
                </ul>

                <h2>News</h2>

                <ul>
                    <li><a href="">Voice of AAT(SA)</a></li>
                    <li><a href="">AAT Forums(UK)</a></li>
                    <li><a href="">UK news</a></li>
                </ul>

            </div>

            <div class="promo__card">
                <img class="img-responsive" src="img/frontpage/jessie_bosco_0.jpg">
                <h2>
                    AAT qualifications
                </h2>
                <p>
                    Move forward in your finance career with an AAT(SA) qualification.
                    Choose a course that suits your needs.
                </p>
                <ul>
                    <li><a href="">Download our list of training providers (PDF)</a></li>
                    <li><a href="">The AAT(SA) Accounting Qualification</a></li>
                    <li><a href="">The AAT(SA) Learnerships</a></li>
                </ul>
            </div>

            <div class="promo__card">
                <img class="img-responsive" src="img/frontpage/lawrence_mtolo_0.jpg">
                <h2>
                    AAT membership
                </h2>
                <p>Now you can belong to a professional body that cares about your career. Join the growing band of
                    members
                    with full MAAT(SA) status.</p>
                <ul>
                    <li><a href="">About AAT(SA) membership</a></li>
                    <li><a href="">Benefits of membership</a></li>
                    <li><a href="">Apply for membership</a></li>
                    <li><a href="">CPD Services</a></li>
                </ul>
            </div>

        </div>

    </div>

</div>

