<div class="node-content">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>
                    <span>What you'll learn at level 3</span>
                </h1>

            </div>
        </div>


    </div>

    <div class="node-main-content">

        <div class="node-main-content__wrapper">

            <div class="sidebar">
                <menu position="qualifications"></menu>
            </div>

            <div class="page-content">
                <p>Level 3 - Certificate: Accounting Technician covers a range of basic accounting practices and
                    techniques; from costing and double-entry bookkeeping to computerised accounting. It's ideal
                    if you’re new to working in finance or you’re looking to expand and develop your foundation
                    knowledge and skills.</p>
            </div>


        </div><!-- end myaat__wrapper -->

    </div><!-- end myaat -->

</div>

