.node-content {

  width: 100%;

  .hero {
    position: relative;
    width: 100%;
    height: 125px;
    background: $primary-color;
    margin-bottom: 20px;
  }

  .hero_message {
    display: table;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
  }

  .hero_message__content {

    display: table-cell;
    vertical-align: middle;
    h1 {

    }
  }
  .node-main-content {
    @extend .container;
  }

  .node-main-content__wrapper {
    @extend .row;
  }

  .page-signpost {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    padding: 10px 10px 0px 5px;
    margin: 10px 0px 10px 0px;

    &__item {
      background-image: url('../img/menu_leaf_solid_green.png');
      background-repeat: no-repeat;
      background-position: 0px 1px;
      padding-left: 20px;
      margin-bottom: 10px;
    }

  }

  .page-content {
    

    ul {

      li:not(.nav-item) {
        background-image: url('../img/bullet.png');
        background-repeat: no-repeat;
        background-position: 0.1em 0.5em;
        padding-left: 1.5em;
      }
    }
    ol {
      padding-left: 1.1em;
    }
    ol + ul {
      margin-left: 20px;
    }
  }

  @media (min-width: $breakpoint-desktop) {



  }
}