<div class="frontpage">

    <div class="hero">

    </div>

    <div class="promo">

        <div class="promo__card">
            <h1>
                Welcome to AAT (SA)
            </h1>
            <p>Eliminate the “what if” factor with AAT(SA), the professional home for accounting technicians.
                Find out more using the links below.</p>
            <ul>
                <li>About us</li>
                <li>Deliver AAT(SA) qualifications</li>
                <li>AAT(SA) training for your business</li>
            </ul>

            <h2>
                News
            </h2>

            <ul>
                <li>Voice of AAT(SA)</li>
                <li>AAT Forums(UK)</li>
                <li>UK news</li>
            </ul>

        </div>
        <div class="promo__card">
            <img src="img/frontpage/jessie_bosco_0.jpg">
            <h2>
                AAT qualifications
            </h2>
            <p>
                Move forward in your finance career with an AAT(SA) qualification.
                Choose a course that suits your needs.
            </p>
            <ul>
                <li>Download our list of training providers (PDF)</li>
                <li>The AAT(SA) Accounting Qualification</li>
                <li>The AAT(SA) Learnerships</li>
            </ul>
        </div>
        <div class="promo__card">
            <img src="img/frontpage/lawrence_mtolo_0.jpg">
            <h2>
                AAT membership
            </h2>
            <p>Now you can belong to a professional body that cares about your career. Join the growing band of members
                with full MAAT(SA) status.</p>
            <ul>
                <li>About AAT(SA) membership</li>
                <li>Benefits of membership</li>
                <li>Apply for membership</li>
                <li>CPD Services</li>
            </ul>
        </div>

    </div>

</div>

