

  .hamburger {
    display: block;
    position: absolute;
    z-index:10;
    right: 0px;
    top: 0px;
    outline: none;

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: $brand-primary;
    }
    &.is-active {
      position: fixed;
      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
        background-color: #fff;
      }
    }
  }


  .user-links {
    position: absolute;
    top:10px;
    right:10px;

    li {
      display: inline-block;
    }
  }

  .mobile-menu {

    min-height: auto;





    &__top-nav {
      display: none;
      overflow:hidden;
      -webkit-overflow-scrolling:touch;

      &--user-links {
        position: absolute;
        top: 10px;
        right: 70px;

        li {
          display: inline-block;
          padding-right: 10px;

          a {
            text-decoration: none;
          }
          a:hover {
            color: black;
          }
        }


      }

      &--text {
        display: none;
      }
    }

    &__top-nav.is-active {
      position: fixed;
      background: $brand-primary;
      text-align: center;
      display: table;
      height: 100vh;
      width: 100%;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: 9;

      > ul {
        display: table-cell;
        vertical-align: middle;
        list-style: none;

        > li {
          font-size: 36px;
          font-size: 3.0vh;
          visibility: visible;
          opacity: 1;
          font-weight: 100;
          width: 100%;

          > a {
            display: inline-block;
            padding: 1.0vh 15px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
          }

          > a:after {
            content: "";
            height: 0;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            //border-bottom: 2px solid #fff;
          }
        }
      }
    }

  }


  @media (min-width: $breakpoint-desktop) {
    .hamburger {
      display: none;
      &.is-active {

      }

    }

    .mobile-menu {
      min-height: auto;

      &__top-nav {
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 80px;

        a {

          padding: 0 5px 0 5px;
        }
        a:hover {
          text-decoration: underline;
        }

        li {
          display: inline-block;
        }
        &--user-links {
          position: absolute;
          top: 10px;
          right: 15px;

          li {

          }

        }

        &--text {
          display: inline-block;
        }
      }
    }
  }


