<nav class="mobile-menu">
    <button id="hamburger-button" class="hamburger hamburger--collapse hamburger--accessible js-hamburger"
            data-ng-class="{'is-active': isActive}" data-ng-click="toggleMenu()" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
    </button>
    <div id="top-nav-bar" class="mobile-menu__top-nav" data-ng-class="{'is-active': isActive}">

        <ul class="">
            <li>
                <a href="/" data-ng-click="closeMenu()">Home</a>
            </li>
            <li>
                <a href="/myaat" data-ng-click="closeMenu()">MyAAT</a>
            </li>
            <li>
                <a href="/about" data-ng-click="closeMenu()">About</a>
            </li>
            <li>
                <a href="/qualifications" data-ng-click="closeMenu()">Qualifications</a>
            </li>
            <li>
                <a href="/employers" data-ng-click="closeMenu()">Employers</a>
            </li>
            <li>
                <a href="/deliver" data-ng-click="closeMenu()">Deliver AAT(SA)</a>
            </li>
            <li>
                <a href="/membership" data-ng-click="closeMenu()">Membership/CPD</a>
            </li>
            <!--<li>-->
            <!--<a href="/news">News</a>-->
            <!--</li>-->
        </ul>


    </div>
</nav>