<div class="membership">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>Membership</h1>
            </div>
        </div>


    </div>

    <div class="membership-page">

        <div class="membership-page__wrapper">

            <div class="sidebar">

                <menu position="membership"></menu>

            </div>

            <div class="page-content">

                <slideshow-content slideshow="vm.pageContent.slideshow"></slideshow-content>

                <spotlights-content spotlights="vm.pageContent.spotlights"></spotlights-content>

            </div><!-- end page-content -->

        </div><!-- end myaat__wrapper -->

    </div><!-- end myaat -->

</div>

