<div class="myaat">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>AAT News</h1>

            </div>
        </div>


    </div>

    <div class="myaat-page">

        <div class="myaat-page__wrapper">

            <div class="sidebar">

                <!-- menu place -->
                <menu position="news"></menu>

            </div>

            <div class="page-content" ng-init="vm.getNewsListing($rootScope.params)">

                <spinner show="vm.isLoading"></spinner>

                <div class="row">
                    <div class="button-group pull-right">
                        <button class="btn btn-xs"
                                ng-class="{'btn-primary': !$root.newsGridStyle, 'btn-default': $root.newsGridStyle}"
                                ng-click="$root.newsGridStyle = false">
                            List
                        </button>
                        <button class="btn btn-xs"
                                ng-class="{'btn-primary': $root.newsGridStyle, 'btn-default': !$root.newsGridStyle}"
                                ng-click="$root.newsGridStyle = true">
                            Grid
                        </button>
                    </div>
                </div>
                <div class="page-content__body" ng-bind-html="vm.pageContent.body" ng-if="vm.pageError"></div>
                <div class="news-listing" ng-if="!$root.newsGridStyle" autoscroll="true">
                    <a href="/news/{{item.node_title | slug}}" ng-click="vm.goToNews(item.nid)" rel="{{item.nid}}"
                       class="" ng-repeat="item in vm.news | limitTo: vm.limit track by $index">
                        <h4 class="" ng-bind="item.node_title">

                        </h4>

                        <p class="" ng-bind="item.body">

                        </p>
                        <div class="" ng-bind="item.images | json">
                            <!-- here is the images -->
                        </div>
                        <hr/>
                    </a>

                    <button ng-show="$root.params.page > 0" class="btn btn-primary" ng-click="vm.prevPage()"> Prev
                        page
                    </button>
                    <button ng-show="$root.params.hasNext" class="btn btn-primary pull-right" ng-click="vm.nextPage()">
                        Next page
                    </button>
                </div>

                <div class="news-grid" ng-if="$root.newsGridStyle">

                    <div class="news-grid-item" ng-repeat="item in vm.news track by $index">
                        <div class="news-grid-item--inner">
                            <div class="news-grid-item__header">
                                <a href="/news/{{item.node_title | slug}}" ng-click="vm.goToNews(item.nid)">
                                    <h3 ng-bind="item.node_title">
                                        <!-- spotlight title -->
                                    </h3>
                                </a>
                            </div>
                            <div class="news-grid-item__body">
                                <div class="news-grid-item__body--text">
                                    <p ng-bind="item.body">
                                        <!-- spotlight text -->
                                    </p>
                                </div>
                            </div>
                            <div class="news-grid-item__footer">
                                <a href="/news/{{item.node_title | slug}}" ng-click="vm.goToNews(item.nid)">
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="row">
                   <div class="col-md-12 text-center">
                       <br/>
                       <button ng-show="$root.params.hasMore && $root.newsGridStyle" class="btn btn-primary "
                               ng-click="vm.showMore()"> Show more
                       </button>
                   </div>
                </div>


            </div>
        </div><!-- end myaat__wrapper -->

    </div><!-- end myaat -->

</div>

