<div class="membership">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>AAT cookie policy</h1>

            </div>
        </div>


    </div>

    <div class="membership-page">

        <div class="membership-page__wrapper">

            <div class="sidebar">
                <ul class="sidebar__menu">
                    <li class="first"><a href="/myaat/about" title="">About AAT(SA) membership</a></li>
                    <li class=""><a href="/get-myaat/privacy-policy" title="">AAT privacy policy</a></li>
                    <li class=""><a href="/get-myaat/aat-cookie-policy" title="">AAT cookie policy</a></li>
                    <li class=""><a href="/get-myaat/aat-equal-opportunities-policy" title="">Equality of opportunity</a></li>
                    <li class=""><a href="/get-myaat/aat-website-terms-and-conditions" title="">Terms and conditions</a></li>
                    <li class="last"><a href="/get-myaat/help" title="">Help logging in to MyAAT</a></li>

                </ul>
            </div>

            <div class="page-content">

                <p>We use cookies and similar tools across our website to improve performance and enhance your user experience.</p>

                <h3>What are cookies?</h3>

                <p><a href="https://ico.org.uk/for-the-public/online/cookies/" target="_blank">The Information Commissioner&rsquo;s Office (ICO)</a> gives this definition of cookies:</p>

                <blockquote>
                    <p>&ldquo;A cookie is a small file of letters and numbers that is downloaded on to your computer when you visit a website. Cookies are used by many websites and can do a number of things,&nbsp;eg&nbsp;remembering your preferences, recording what you have put in your shopping basket, and counting the number of people looking at a website.&rdquo;<br />
                        &nbsp;</p>
                </blockquote>

                <p>Our site operates under implied consent for cookies, which means we assume by using this site you are happy with our usage of cookies as outlined below. If you do not want to accept the use of these cookies, you can edit your browser settings.</p>

                <p>More general information about Cookies is available on the <a href="http://www.aboutcookies.org">About Cookies website</a>, including guidance on how to manage cookies.</p>

                <h3>Why do we use cookies?</h3>

                <p>Our cookies gather limited information about you during a session, including:</p>

                <ul>
                    <li>Your IP address</li>
                    <li>Your browser configuration</li>
                </ul>

                <p>This information is used to help us improve your experience of the website, improving the content, design and performance.</p>

                <p>The log files or any information they contain about your use of the site will not be made available to any third parties other than as anonymous usage statistics.</p>

                <h3>What sort of cookies does AAT use?</h3>

                <p>We use different types of cookies on our site:</p>

                <ul>
                    <li>Session cookies</li>
                    <li>Persistent cookies</li>
                    <li>Retargeting cookies</li>
                </ul>

                <h3>Session cookies</h3>

                <p>Session cookies have a short lifetime and will be deleted from your computer when you close your browser.</p>

                <p>We use session cookies to:</p>

                <ul>
                    <li>Keep you logged in while you move through pages and services on our site,</li>
                    <li>Enable you to complete transactions on the site</li>
                    <li>Pre-populate forms with information to save you typing in information that you have already provided.</li>
                </ul>

                <h3>Persistent cookies</h3>

                <p>We use the persistent cookies to enable our website to recognise you when you visit to help save you time.</p>

                <p>These cookies record what you have added to your basket (for example, when booking events or ordering from the AAT shop) and to enable basic web traffic analysis using Google Analytics. We also use persistent cookies to &#39;remember you&#39; when you return to your MyAAT login. If you do not wish for our website to &lsquo;remember you&rsquo;, you must ensure that you use the &lsquo;log out&rsquo; button and close your browser to complete the process.</p>

                <p>Persistent cookies will remain stored on your computer until deleted, or until they reach a specified expiry date.</p>

                <h3>Retargeting cookies</h3>

                <p>Teracent cookies are present on a set number of pages on the website. We use Teracent cookies to deliver dynamic adverts based on webpages visited.</p>

                <p>You can opt out of a third-party vendor&#39;s use of cookies by visiting the&nbsp;Network Advertising Initiative opt-out page.</p>

                <h3>Google Analytics</h3>

                <p>We use Google Analytics to analyse the use of this website. This analysis helps us see which areas of the site are popular and those that are rarely visited. The information generated relating to our website is used to create reports about the use of the website.</p>

                <p>Google will store this information. You can read more about <a href="http://www.google.co.uk/policies/privacy/">Google&#39;s privacy policy</a> or opt out of Google&#39;s use of cookies by visiting the&nbsp;Google Ads Preferences Manager.&nbsp;</p>

                <p>You can&nbsp;<a href="https://tools.google.com/dlpage/gaoptout/">opt out of the use of Google Analytics advertising features</a> if you wish.</p>

                <p>Google provides more <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">information about cookie usage</a>.</p>

                <h3>Yandex analytics</h3>

                <p>This website uses Yandex Metrica, a tool which uses cookies to provide us with information on how people use the AAT site. This information helps us to analyse the performance of the site so we can make improvements. Read the <a href="https://yandex.com/legal/privacy/" target="_blank">Yandex&nbsp;privacy policy</a>.</p>

                <h3>A/B split testing VWO cookies</h3>

                <p>VWO uses cookies to run campaign and to track user information. The cookies keep track of the variation a user has viewed and helps to serve the same variation to the user consistently, track goals completed by a user, and determine whether a user is part of a campaign.</p>

                <h3>&nbsp;</h3>




            </div><!-- end page-content -->

        </div><!-- end myaat__wrapper -->

    </div><!-- end myaat -->

</div>

