<div class="membership">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>Equality of opportunity</h1>

            </div>
        </div>


    </div>

    <div class="membership-page">

        <div class="membership-page__wrapper">

            <div class="sidebar">
                <menu position="myaat"></menu>
            </div>

            <div class="page-content">


                <p>Various legislation has come into effect in recent years, which supports the Government&#39;s drive for wider participation in learning with the aim of creating a more competitive workforce. Legislation, regulations and national strategy provide a framework aimed at delivering equality of opportunity for all student members, irrespective of their age, sex, religion, sexual orientation and whether or not they have a disability, learning difficulty or any other characteristic. Legislation, which applies in this area within the UK, includes the Race Relations Act, Sex Discrimination Act, Human Rights Act 2000, Disability Discrimination Act, Learning and Skills Act 2000 and Equality Act 2010.</p>

                <h3>AAT firmly believes in equality of opportunity for all who participate in its qualifications</h3>

                <p>To this end, we aim to ensure that:</p>

                <ul>
                    <li>our qualifications are free from barriers that restrict access and progression, and they are attainable by all who can demonstrate the required standard by whatever means</li>
                    <li>our qualifications and publications are free from discriminatory practices or stereotypes with regard to gender, race, age, creed or sexual orientation</li>
                    <li>assessment tasks and study opportunities are sufficiently varied and flexible to ensure that no particular group of student members or would-be students are placed at any disadvantage</li>
                    <li>all reasonable adjustments are made to cater for the individual requirements of student members</li>
                    <li>assessments are valid and reliable to ensure that all student members receive impartial treatment.</li>
                </ul>

                <p>All training providers must have an equal opportunities policy, which should be available to staff and student members alike. This is a basic requirement of AAT training provider approval.</p>

                <p>Training providers need to review their policy, provision and approaches on a regular basis to ensure that best practice is being used and that they comply with the acts and regulations. It also makes good business sense for training providers to ensure that they are customer-focused in addressing the needs of their students.</p>

                <p>In a few instances we have found that individual staff have not been able to locate&nbsp;a training provider&#39;s policy on equal opportunity, so it is useful to have a centralised folder that holds this basic information.</p>

                <p>Training providers, particularly those offering a range of qualifications, will also have established initial assessment procedures. Where different departments are offering similar programmes it is useful to consult and exchange best practice information. Examples of this not happening are training providers that are criticised for weak initial assessment within one department, whilst another department is being held as an example of good practice for the same aspect.</p>

                <p>Further education providers and many other training providers often have sound provision catering for students with learning difficulties, visual or learning impairment, mental illness, numeracy or literacy needs, or for whom English is a second language. However, increasingly the emphasis is not just on the delivery of programmes that cater for these different needs, but also the evaluation and reporting on such provision. It is therefore useful to have an organisation-wide strategy that ensures best practice and avoids a duplication of information. The exams officer is often a good centralised source for records on individual students and could be a key person to involve in the collation and review of data on equality and access.</p>

                <h3>Training providers need to monitor and evaluate the effectiveness of their equal opportunities policy</h3>

                <p>The types of questions that training providers should be addressing are:</p>

                <ul>
                    <li>how is the equal opportunity policy implemented and monitored?</li>
                    <li>do you maintain a centralised source of statistical data for reporting to external bodies?</li>
                    <li>what is your policy on eligibility of student members into the AAT programme?</li>
                    <li>how far does the take up reflect local employment patterns?</li>
                    <li>are there differences in take up by student members of different backgrounds?</li>
                    <li>to what extent do you cater for full-time and part-time student members?</li>
                    <li>do you actually look at barriers to qualifications (for example, costs, lack of local awareness of course, lack of employer support, timing issues)?</li>
                    <li>do you use IT, simulations and other approaches to widen access?</li>
                    <li>do you actively support assessors with the necessary resources in enabling them to assist student members with special considerations?</li>
                </ul>

                <p>It is useful to note that frequent weaknesses identified by external agencies include a lack of consistent application of policy and procedures across staff and a lack of record keeping. Overall, we recognise that training providers work hard to cater for the needs of the diverse range of students who present themselves, using a range of methods and approaches.</p>


            </div><!-- end page-content -->

        </div><!-- end myaat__wrapper -->

    </div><!-- end myaat -->

</div>

