<div class="membership">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>Need help logging in to MyAAT?</h1>

            </div>
        </div>


    </div>

    <div class="membership-page">

        <div class="membership-page__wrapper">

            <div class="sidebar">
                <ul class="sidebar__menu">
                    <li class="first"><a href="/myaat/about" title="">About AAT(SA) membership</a></li>
                    <li class=""><a href="/get-myaat/privacy-policy" title="">AAT privacy policy</a></li>
                    <li class=""><a href="/get-myaat/aat-cookie-policy" title="">AAT cookie policy</a></li>
                    <li class=""><a href="/get-myaat/aat-equal-opportunities-policy" title="">Equality of opportunity</a></li>
                    <li class=""><a href="/get-myaat/aat-website-terms-and-conditions" title="">Terms and conditions</a></li>
                    <li class="last"><a href="/get-myaat/help" title="">Help logging in to MyAAT</a></li>

                </ul>
            </div>

            <div class="page-content">


                <h3>Troubleshooting guide</h3>

                <p>If you can&#39;t access your MyAAT account,&nbsp;<a href="/user/password">reset your password</a>&nbsp;- instructions and a link will be sent to the email address you registered with.</p>

                <p>Trying to register as an AAT student? <a href="/register/student">Start or resume your application</a>.&nbsp;</p>

                <h3>Contact us</h3>

                <p>If you still can&#39;t access your account, please contact our team for help. Please have your membership number ready.</p>

                <p><strong>Tel:</strong> +44 (0)20 3735 2468<br />
                    <strong>Email:</strong>&nbsp;membershipsupport@aat.org.uk.&nbsp;Use the email address you use to login to MyAAT or we will ask you to confirm your identity.</p>

                <p>Our telephone lines are open Monday to Friday, 09.00 to 17.00 UK time.</p>

                <p>&nbsp;</p>



            </div><!-- end page-content -->

        </div><!-- end myaat__wrapper -->

    </div><!-- end myaat -->

</div>

