<div class="membership">

    <div class="hero">


        <div class="hero_message">
            <div class="hero_message__content">
                <h1>Terms and conditions</h1>

            </div>
        </div>


    </div>

    <div class="membership-page">

        <div class="membership-page__wrapper">

            <div class="sidebar">
                <ul class="sidebar__menu">
                    <li class="first"><a href="/myaat/about" title="">About AAT(SA) membership</a></li>
                    <li class=""><a href="/get-myaat/privacy-policy" title="">AAT privacy policy</a></li>
                    <li class=""><a href="/get-myaat/aat-cookie-policy" title="">AAT cookie policy</a></li>
                    <li class=""><a href="/get-myaat/aat-equal-opportunities-policy" title="">Equality of opportunity</a></li>
                    <li class=""><a href="/get-myaat/aat-website-terms-and-conditions" title="">Terms and conditions</a></li>
                    <li class="last"><a href="/get-myaat/help" title="">Help logging in to MyAAT</a></li>

                </ul>
            </div>

            <div class="page-content">


                <p>Access to and use of AAT&#39;s website constitutes acceptance of the following terms and conditions:</p>

                <h3>Copyright</h3>

                <p>All rights, including copyright and database right, in AAT&#39;s website and its contents are owned by or licensed to AAT or otherwise used by AAT as permitted by applicable law.</p>

                <p>You may download and make copies of the content of this site for your own personal use only. Unless expressly noted on the page, you are not permitted to copy, download, store (including on any other website), distribute, transmit, broadcast, adapt or change in any way the content of these web pages for any other purpose without prior written permission from AAT.</p>

                <p>&copy; 2012 AAT, 140 Aldersgate Street, London EC1A 4HY. All rights reserved.</p>

                <h3>Accuracy of information</h3>

                <p>While AAT makes reasonable effort to ensure that the website information is correct and up to date, AAT makes no warranties or representations as to its accuracy, and accepts no liability or responsibility for any loss due to errors or omissions in the website content, or caused by reliance on this information.</p>

                <p>The&nbsp; information on the AAT website is provided &quot;as is&quot; and on an &quot;as available&quot; basis without any representations or any kind of warranty made (whether express or implied by law), including the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.</p>

                <p>As a user of the site, you agree to release, indemnify and hold harmless AAT, its affiliates, business partners, partners, officers, agents and employees from any and all claims, demands and damages (whether actual and/or consequential), resulting from or associated in any way with any supplied content. It is advised that users check any information before acting or relying on it.</p>

                <p>Functions embodied on, or in the materials of, this website are not warranted to be uninterrupted or without error.</p>

                <h3>Privacy policy</h3>

                <p>AAT carries a firm commitment to the privacy of your personal data. Find out more about <a href="/get-myaat/privacy-policy">AAT&#39;s privacy policy</a>.</p>



            </div><!-- end page-content -->

        </div><!-- end myaat__wrapper -->

    </div><!-- end myaat -->

</div>

